#bg{
    
    background-color: rgb(90, 159, 188);
    
}

.container{
    background-image:url('../images/crossword.png');
    background: repeat;
}

pre{

    background: none;
    border: none;
    padding: 15px;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 20px;
  background: #3f3f3f;
  color: #dcdcdc;
  -webkit-text-size-adjust: none;
}

h1{

	font-family: 'Bitter', serif;
    color: black;
    color: white;
}

h2{
  font-family: 'Muli', sans-serif;
    font-weight: 300;
    color:black;
}
h3{
      font-family: 'Muli', sans-serif;
    font-weight: 300;
    color:black;
    font-size: 19px;
    color: rgba(52, 166, 185);
}

a{
     font-family: 'Muli', sans-serif;
     color:rgba(52, 166, 185);

}
p>a{

    font-family: 'Droid Serif', serif;
}
a.white{

    color:white;
}
a.serif{

    font-family: 'Droid Serif', serif;
}
p{
     font-family: 'Droid Serif', serif;
     font-size: 15px;

}
strong{

    font-family: 'Droid Serif', serif;
    font-weight: 700;
}

#disqus{

    background-color: white;
    padding: 30px;
}

#social{

    background-color: white;
}
#title{

	margin-top: 100px;
	text-align: center;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
}

.centered{
 
    text-align: center;
}

#create{

    margin-top: 100px;
}
#info{
    text-align: center;
}


.panel {
    border: 0;
    border-top:3px solid yellow;
    margin-left: 15px;
}

.moveright{
    
    margin-left: 5px;
}

.panel-default > .panel-heading {
  background-color: white;
}

.navbar .navbar-default{
    
    padding: 50px;
}

.jumbotron{
    background-color: rgba(52, 166, 185, 0.68);   
    width: 100%;
    position: fixed;
    top:0;
    z-index: -100;
    height: 300px;

}


#post{
    border-top:3px solid rgba(52, 166, 185, 0.68);
    padding:20px;
    margin-bottom: 30px;
}

.bigh1{
 line-height: 200px;
 color:white;
}

.jumbotron h1{
 color: white;   
}
.navbar-fixed-top {
    background:white;
    background-color: rgba(52, 166, 185, 0.8);   
    padding: 2px;
}

.navbar-fixed-top .navbar-nav > li > a
{
    color: white;;
}
.navbar-fixed-top .navbar-nav > li > a:hover
{
    background-color: rgb(52, 166, 185);
}

.navbar-fixed-top .navbar-brand {
    color: white;
}


.gray{

    color: gray;
}

#postscontainer{
    
    margin-top: 280px;
    padding-bottom: 100px;
     background-image:url('../images/crossword.png');
    background: repeat;
    background-color: white;
}

.show, .show-panel{
     margin-top: 100px;
 }
.show{
  
    background-color: white;
    padding: 20px;
}

.form-control{
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
    border: 1px solid rgba(52, 166, 185, 0.8);
}

#footer{

    background-color: rgba(52, 166, 185, 0.8);
    padding: 10px;
    color: white;!important
}